@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Fredericka+the+Great&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=VT323&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Space Mono', monospace;
}

.logo {
  font-family: 'Fredericka the Great', serif;
}

.title {
  font-family: 'VT323', monospace;
}

body {
  background: #010101;
}
